<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Olá <%= @user.name %>,</h3>
    <p>
      o visitante <%= @visitor.name %>, demonstrou interesse no Imóvel: <h3><%= @property.title %><h3>.<br>
      Você pode verificar acessando a sua área administrativa.
    </p>
    <p>Atenciosamente, Gerenciar Imóveis!</p>
  </body>
</html>
