<section class="text-center">
  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Área administrativa do usuário, <%= current_user.email %></h1>
        <p class="lead text-muted">Nessa área administrativa é possível gerenciar todos as suas publicações de imóveis.</p>
        <p>
          <a href="#" class="btn btn-primary">Imóveis em alta</a>          
        </p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">


        <div class="row">
          <div class="card col-4">
            <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card col-4">
            <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card col-4">
            <img data-src="holder.js/100px280?theme=thumb" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

      </div>
    </div>
  </main>
</section>
