<section class="text-center">
  <article class="card mb-5">
    <div class="card-body">
      <header class="card-title">
        <h1>Gerenciar Imóveis</h1>
      </header>
      <p class="card-text">
        É o gerenciador de corretores independentes e corretora de imóveis
        mais completo do mercado. Se você está planejando uma administração,
        divulgação e resultados completos, esse é o sistema ideal para você!
      </p>
    </div>
  </article>


<!-- Listagem pública de todos imóveis publicados -->

  <div class="container">

      <div class="row">
        <% @users_properties.each do |users_property| %>
        <div class="col-lg-4 public-card text-center">
          <%= image_tag(users_property.image, width: "300px", height: "200px" ) %>
          <h4 class="card-title"><%= users_property.title %></h4>
          <p class="card-text"><%= users_property.description %></p>
          <%= link_to 'Visualizar', property_path(users_property), class: 'btn btn-primary' %>
        </div><!-- /.col-lg-4 -->
        <% end %>
      </div><!-- /.row -->

  </div>
</section>
