<section class="text-center">
  <article class="card mb-5">
    <div class="card-body">
      <header class="card-title">
        <h1>Gerenciar Imóveis</h1>
      </header>
      <p class="card-text">
        É o gerenciador de corretores independentes e corretora de imóveis
        mais completo do mercado. Se você está planejando uma administração,
        divulgação e resultados completos, esse é o sistema ideal para você!
      </p>
    </div>
  </article>
</section>
<section>

  <div class="container">
    <div class="row">
      <% @users_properties.each do |users_property| %>
      <div class="col-lg-4 text-center">
        <%= image_tag(users_property.image, width: "300px", height: "200px" ) %>
        <h2><%= users_property.title %></h2>
        <p><%= users_property.description %></p>
        <p><%= link_to 'Visualizar', show_path(users_property), class: 'btn btn-primary' %></p>
        <!--<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>-->
      </div><!-- /.col-lg-4 -->
      <% end %>
    </div><!-- /.row -->
  </div>

</section>
