// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
  padding: 30px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 100%;
}

/* Custom navbar style
-------------------------------------------------- */

.navbar {
  /*background-image: url("./background-home.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80px;*/
  align-items: flex-start;
}

.rent-card {
  margin-bottom: 20px;
}

.public-card {
  margin-bottom: 20px;
}

.parallax {
    /* The image used */
    background-image: url("./chicago.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
