@import "bootstrap";
@import "dashboard.scss";
@import "properties";


@font-face {
  font-family: 'Heavy Webfont';
  src: url(asset-url("./fonts/heavy-webfont.woff")) format('woff');
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Heavy Webfont';
}

.nav-link {
	color: #FFF !important;
}

.parallax {
    /* The image used */
    background-image: url("../chicago.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
