<footer class="footer bg-light">
	<div class="container">
	</br>
		<p class="float-right">
			<a href="#">Back to top</a>
		</p>
	</br>
	<div class="container text-center">
		<span class="text-muted">Desenvolvido por Filipe Kuhn & Rogério Miss - Copyright 2017 ©</span>
	</div>
</footer>
